/****************************************************
****************GENERAL SECTION**********************
****************************************************/

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana, sans-serif;
    font-size: 15px;
/*    min-height: 5000px;*/
/*    font-weight: 100;*/
    color: #000;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-25{
    margin-bottom: 25px;
}

.margin-bottom-80{
    margin-bottom: 80px;
}

.margin-bottom-50{
    margin-bottom: 50px;
}
.margin-top-40{
    margin-top: 40px;
}

.margin-bottom-95{
    margin-bottom: 95px;
}
.text-center{
    text-align: center;
}

.no-padding-right{
    padding-right: 0px!important;
}

.no-padding-left{
    padding-left: 0px;
}


.pull-right{
    float: right;
}

.pull-left{
    float: left;
}


.paragraph{
    line-height: 1.5;
    text-align: justify;
}

.bold{
    font-weight: 700;
}

.w-100{
    width:100%;
}

.clearfix{
    clear: both;
}

.container{
/*    margin: 0px 15px;*/
}
/***************************************************
********************HEADER SECTION*******************
***************************************************/
.header{
    height: 50px;
    width: 100%;
   
}
.menu-item{
    display: inline-block;
/*    color: #FFF;*/
    padding: 0px 16px;
    margin: 8px 0;
    text-align: center;
    line-height: 30px;
    height: 30px;
    box-sizing: border-box;
}
.links{
    color: #000;
    text-decoration: none;
/*    cursor: default;*/
}
.menu-item:hover{
    background: #CCCCCC;
    cursor: pointer;
}
.no-hover:hover{
    background: #FFF;
/*    cursor: pointer;*/
}
.navbar{
    position: fixed;
    z-index: 9999;
    letter-spacing: 4px;
    height: 50px;
    background: #FFF;
     box-shadow: 10px 0px 7px -3px #333;
}


/****************************************************
****************IMAGE SECTION************************
****************************************************/


.image{
    box-sizing: border-box;
/*    padding: 0px 10px;*/
    position: relative;
}

.image:hover{
    display: block;
}

.image h2, .portfolio{
/*    width: 100%;*/
    height: 745px;
    line-height: 745px;
    margin: 0;
    position: absolute;
    bottom: 0;
    font-size: 36px;
    font-family: sans-serif;
    letter-spacing: 4px;
    
/*    background: rgba(0,0,0,0.3);*/
    font-weight: bolder;
    opacity: 0.85;
    text-align: center;
    color: #FFF;
}

.image h2 .br{
    box-sizing: border-box;
    padding: 8px 16px;
    background: #2A2B2D;
}


/***************************************************
********************PROJECTS SECTION****************
***************************************************/

.projects{
    height: 580px;
/*    font-weight: 100;*/
/*        padding: 0px 0px 35px 16px;*/
    padding: 0 16px;
/*    margin-right: 10px;*/
}

.project-header{
/*    margin-right: 16px;*/
}
.project-header h2{
    font-size: 25px;
    font-weight: 100;
    font-family: sans-serif;
    padding-bottom: 1.5%;
    border-bottom: solid 1px #d9d9d9;
}

.sites{
/*    box-sizing: border-box;*/
    position: relative;
    height: 235px;
    width: 355px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: inline-block;
}

.site-detail{
/*    width: 100%;*/
/*    height: 235px;*/
/*    line-height: -200px;*/
/*    margin: 0;*/
    position: absolute;
/*    bottom: 0;*/
    top: 0;
    left: 0;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    background: #000;
/*    text-align: left;*/
    color: #FFF;
    height: 15%;
/*    box-sizing: border-box;*/
/*        text-align: center;*/
/*    padding: 5px;*/
/*    position: relative;*/

}

.site .image{
    position: relative;
}


.details{
/*    background: #000;*/
/*        line-height: 11%;*/
/*        text-align: center;*/
    box-sizing: border-box;
    padding: 7% 10px 7% 10px;
    height: 100%;
/*    text-align: center;*/

}

/***************************************************
********************ABOUT SECTION*******************
***************************************************/

.about-us{
    padding: 0px 16px;
    
}

.about-us h2{
    font-size: 25px;
    font-weight: 100;
    font-family: sans-serif;
    font-weight: 100;
    padding-bottom: 1.5%;
    border-bottom: solid 1px #d9d9d9;
}

.info{
    padding-left: 16px;
}

.members{
    width:25%;
    height: 455px;
}

.team{
    padding-left: 16px;
    height: 455px;
}

.name{
    font-size: 24px;
    margin: 2% 0px;
/*    color: */
}

.post{
    color: #666666;
    margin-top: 6%;
    margin-bottom: 8%;
}

.members .info{
    padding: 0%;
    color: #2F2F2F;
}

.btn{
    margin-top: 5%; 
    width: 94.5%;
    height: 35px;
    text-align: center;
    background: #EEE;
    line-height: 35px;
}

.btn:hover{
    background: #CCCCCC;
    cursor: pointer;
}

.grayscale{
    filter: grayscale(70%);
}

/***************************************************
********************CONTACT SECTION*****************
***************************************************/

.contact-us{     
    padding: 0px 16px;
}

.contact-us h2{
    font-size: 25px;
    font-weight: 100;
    font-family: sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
    border-bottom: solid 1px #d9d9d9;
}

.sub-title h3{
    padding-left: 16px;
    margin-top: 1.5%;
    margin-bottom: 0.5%;    
    font-size: 15px;
    font-weight: 100;
    line-height: 1.5;
}

.details-info{
    background: #FFF;
    padding-left: 1%;
    width: 95%;
}

.details-info input{
    padding: 0.7%;
}

.send-btn{
    margin-left: 10px;
    margin-top: 2%;
    background: #000;
    color: #fff;
    width: 10%;
    padding: 0.4%;
/*    height: 5%;*/
    text-align: center;
}

.send-btn:hover{
    background: #CCCCCC;
    color: #000;
    cursor: pointer;
}

.foot{
    height: 80px;
    background: black;
    text-align: center;
    color: #FFF;
    line-height: 80px;
}